%table{ :class => "profile", :summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user, :size => 30
        = @user.name
      - unless @user.microposts.empty?
        %table{ :calss => "microposts", :summary => "User microposts"}
          = render @microposts
        = will_paginate @microposts
      = render 'follow_form' if signed_in? 

    %td{ :class => "sidebar round" }
      %strong Name:
      = @user.name
      %br
      %strong URL:
      = link_to user_path(@user), @user
      %br
      %strong Microposts:
      = @user.microposts.count
      
      = render 'shared/stats'
